*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

// html{
//     font-size: 62.5%;
//     color: white;
//     font-family: $font;
// }

// body{
//     font-size: 1.6rem;
//     background: #333;
//     padding: 2%;
// }